
body{
    font-family: 'Open Sans', sans-serif;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 10%, rgba(219,242,249,1) 38%, rgba(56,182,255,1) 100%);
}

main{
    background-color: white;
}

.link{
    text-decoration: none;
    color:black;
    font-size:medium; 
}

.header{
    align-items: center;
    background-image:linear-gradient(#38b6ff,#38b6ff);
    display:flex;
    text-decoration: none;
}

.textoApresentacao{
    text-align: justify;
    margin: 2rem;
    padding: 1 rem;
    color: black;
    font-size:large;

}

.servicos{
    margin: 2rem 1rem 1rem 1rem;
    padding: auto;
    align-items:flex-start;
    font-size: large;
    font-weight: bolder;

}

.sobre{
    margin: 4rem;
    padding: auto;
    font-weight: bolder;

}

.contatos{
    font-weight: bolder;
    margin: 2 rem;
    
}


.carousel-inner{
    display:flex;
    align-items: center;
   
}

.carousel-inner{
    border-radius: 40%;
}

.sobre img{
    border-radius: 40%;
    margin-bottom: 4rem;
}
 

@media (max-width: 576px) {
    .sobre img{
        display: block;
        flex-direction: column;
        flex-wrap:wrap;
    }

}